.social-links a {
  transition: opacity 0.2s ease-in-out;
}

.social-links:hover a {
  opacity: 0.6;
}

.social-links a:hover {
  opacity: 1;
}

.social-links a:not(:first-child) {
  margin-left: 0.6rem;
}
