.rotating-logo {
  position: relative;
  width: 12rem;
  height: 12rem;
}

.outer-logo,
.inner-logo {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
}

.rotating-logo:hover .outer-logo {
  animation:spin 24s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
