@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 4rem;
    margin-top: 2rem;
  }

  .gallery-item {
    position: relative;
  }

  .gallery-item figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    max-height: 21rem;
  }

  .gallery-item figure .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .gallery-item figure:hover .gallery-image {
    opacity: 0.4;
  }

  .gallery-item figure .image-caption {
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
    top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.3;
  }

  .gallery-item figure .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-item figure .social-icons img {
    width: 1.1rem;
    margin-right: 0.3rem;
  }

  .gallery-item figure:hover .image-caption {
    opacity: 1;
  }

  .gallery-image-footer {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: -20px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    text-transform: uppercase;
  }

  .gallery-item figure:hover .gallery-image-footer {
    bottom: -36px;
    opacity: 1;
  }
}

.loding-box {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* source: https://codepen.io/dicson/pen/vOxZjM  */
.loding-container {
  position: relative;
  height: 15rem;
}

.loding-box::before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.loding-box::after {
  content: '';
  width: 50px;
  height: 50px;
  background: rgb(37, 36, 34);
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
