.about {
  display: flex;
  margin-bottom: 4rem;
}

.left-column {
  margin-bottom: 4rem;
  flex: 2 1 auto;
  padding: 0 2rem;
  background: #7a8473;
  color: #f1efe8;
  margin-top: 4rem;
  margin-right: -10rem;
  z-index: 1;
}

.right-column {
  flex: 1 1 70%;
  background: #f1efe8;
}

.left-colmun-heading {
  color: #252422;
  text-transform: uppercase;
}
