.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.header .logo {
  padding: 3rem 1rem;
}

.header .header-logo,
.navigation {
  width: 100%;
}

.header-logo-year {
  margin-top: 0.4rem;
}

.links {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.site-links {
  padding: 0 0.2rem;
}

.site-links span {
  padding: 0 0.3rem;
}

.social-links {
  display: none;
}

.social-logo {
  margin-left: 0.6rem;
}

@media (min-width: 26.5rem) {
  .links {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    border-bottom: 2px solid #252422;
  }

  .social-links {
    display: block;
  }
}

@media (min-width: 40rem) {
  .header .logo {
    padding: 4rem;
  }
  .header .logo img {
    max-width: 35rem;
  }
}


@media (min-width: 60rem) {
  .header .logo {
    padding: 8rem;
  }
}
